<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953228946397-0prck6pr0kf923si597reliovcn97d19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953228946397-0prck6pr0kf923si597reliovcn97d19</string>
	<key>API_KEY</key>
	<string>AIzaSyClqjWM-6yL9w85-0ZFG1kzKDmzCX0dhXE</string>
	<key>GCM_SENDER_ID</key>
	<string>953228946397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MykooApplications.Rocial</string>
	<key>PROJECT_ID</key>
	<string>rocial</string>
	<key>STORAGE_BUCKET</key>
	<string>rocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953228946397:ios:0ae8c09a06f326f77ce434</string>
</dict>
</plist>